<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="TimeOutShowAnswerMusic" value="2000"/> 
		<!--Make sure the playing time of the music and enter exact time in TimeOutShowAnswerMusic and format also only wav-->
		<add key="ShowAnswerMusic" value="C:\Windows\Media\Alarm05.wav"/> 
		<!--Make sure the playing time of the music and enter not exceed  3 to 4 seconds Mp3 format only-->
		<add key="CorrectAnswerMusic" value="C:\Users\Bharanikumar.Eswar\Downloads\moreclaps-104533.mp3"/>
		<add key="WrongAnswerMusic" value="C:\Users\Bharanikumar.Eswar\Downloads\negative_beeps-6008.mp3"/>
		<!--Mp3 format only-->
		<add key="ResultPageMusic" value="C:\Users\Bharanikumar.Eswar\Downloads\short-crowd-cheer-2-88701.mp3"/>
	</appSettings>
</configuration>