<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="TimeOutShowAnswerMusic" value="2000"/>
		<add key="ShowAnswerMusic" value="C:\Windows\Media\Alarm05.wav"/>
		<add key="CorrectAnswerMusic" value="C:\Users\Bharanikumar.Eswar\Downloads\moreclaps-104533.mp3"/>
		<add key="WrongAnswerMusic" value="C:\Users\Bharanikumar.Eswar\Downloads\negative_beeps-6008.mp3"/>
		<add key="ResultPageMusic" value="C:\Users\Bharanikumar.Eswar\Downloads\short-crowd-cheer-2-88701.mp3"/>
	</appSettings>
</configuration>