<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="secondsToWait" value="30"/>
		<add key="TimeOutShowAnswerMusic" value="5000"/>
		<add key="ShowAnswerMusic" value="C:\Windows\Media\Alarm05.wav"/>
		<add key="music" value="" />
	</appSettings>
</configuration>